/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.OrganizedInterfaceFull {
  display: flex;
}

.OrganizedInterfacePartial {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.DescriptionsBox {
  grid-column-start: 4;
  grid-column-end: 5;
}

.DraggableContainer {
  background-image: url("Dirt_background_BE1.jpg");
  border: 1px solid red;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  grid-column-start: button1;
  grid-column-end: lastline;
}

.ItemsContainer {
  border: 1px solid blue;
  width: 90%;
  height: 80vh;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(8, 300px);
  grid-template-rows: repeat(3, auto);
  white-space: nowrap;
  overflow: hidden;
  cursor: grab;
  user-select: none;
}

.SkillContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 8fr;
  padding: 5%;
}

.InterfaceSelectionGrid {
  width: 100%;
  display: grid;
  text-align: center;
  grid-template-columns: [button1]1fr [button2]1fr [description]7fr [export]1fr [lastline];
  grid-template-rows: [buttons] 10% [container];
  grid-column-start: 1;
  grid-column-end: 4;
}

.item {
  height: auto;
  width: auto;
  display: grid;
  padding: 5%;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
  border: 5px solid black;
  background-color: gray;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.specializationButton {
  width: auto;
  height: auto;
  justify-self: center;
  text-align: left;
  background: none;
}

.activeSpecializationButton {
  width: auto;
  height: auto;
  justify-self: center;
  text-align: left;
  background-color: dimgrey;
}

.activeItemsContainer {
  background-color: lightblue;
  cursor: grabbing; 
}

.SkillPipsActive {
  height: 32px;
  width: 32px;
  background-image: url("SkillPipActive.png");
  justify-self: center;
}

.SkillPipsInactive {
  height: 32px;
  width: 32px;
  background-image: url("SkillPipInactive.png");
  justify-self: center;
}

.SkillPipsContainerSmall {
  display: grid;
  justify-content: center;
  grid-template-columns: 48px 48px 48px;
  grid-template-rows: 48px;
  padding-top: 50px;
}

.SkillPipsContainerMedium {
  display: grid;
  justify-content: center;
  grid-template-columns: 48px 48px 48px;
  grid-template-rows: 48px 48px;
  padding-top: 50px;
}

.SkillPipsContainerLarge {
  display: grid;
  justify-content: center;
  grid-template-columns: 48px 48px 48px 48px 48px;
  grid-template-rows: 48px 48px;
  padding-top: 50px;
}